.erreur {
font-size: 288px;
margin-bottom: 0;
margin-top: 125px; 
color: #ff6060;
    text-align: center;
}

.oups {
    margin-bottom: 130px;
    color: #ff6060;
    text-align: center;
}

.retourAccueil {
    text-decoration: underline;
    margin-bottom: 130px;
    color: #ff6060;
    text-align: center;
}

.conteneur_error {
    display: flex;
    flex-direction: column;
}

/*Version mobile*/
@media screen and (max-width: 767px) {
    .erreur {
        font-size: 228px;
    }
    .oups {
        font-size: 18px;
    }
}