.arriere_plan_footer {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 100px;
    height: 100%;
    color: white;
    padding-top: 20px;
    filter: brightness(267%);
}


.copyright {
    padding-bottom: 20px;
    color: white;
}