.Banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-banner {
    color: white;
    position: absolute;
    z-index: 1 ;
}

.Kasa-banner {
    width: 100%;
    border-radius: 25px;
    height: 170px;
    object-fit: cover;
    filter:brightness(65%)

}

.Banner_a_propos img {
    margin-bottom: 15px;
}

/*Version mobile*/
@media screen and (max-width: 767px) {
    .Banner {
        justify-content: none;
    }
    .title-banner {
        width: 50%;
    }
    .Banner_a_propos img {
        height: 330px;
    }
}
