.title_location {
    font-size: 36px;
    color: #ff6060;
    margin: 0px;
}

.lieu_location {
    margin: 3px 0px 16px;    
    font-size: 16px;
    color: #ff6060;
}

.conteneur_tags {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
}

.location_tag {
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 3px 64px;
}

.conteneur_title_et_proprietaire {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.proprietaire {
display: flex;
align-items: center;
gap: 10px; 
}

.proprietaire h3 {
    font-size: 18px;
    width: 110px;
    text-align: right;
    color: #ff6060;
}

.conteneur_proprietaire_etoiles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.badge_proprietaire {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.location_etoiles {
    display: flex;
    gap: 15px; 
    font-size: 24px;
}

.etoile_rouge {
    color: #ff6060;
}

.etoile_grise {
 color: #E3E3E3;
}

.conteneur_location_collapses {
display: flex;
justify-content: space-between;
width: 100%
}

.location_collapses_content {
    margin: 15px 0px;
    width: 45%;
    text-align: justify;
}

.collapses_description {
    align-items: center;
    background-color: #ff6060;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    z-index: 1;
}

.collapses_descrip_equip {
    font-size: 18px;
    margin: 0px;
    padding: 14px 10px;
  }

  .collapses_description i {
    font-size: 20px;
    color: white;
    padding: 14px 15px;
    cursor: pointer;
  }

  .descrip_equip {
    list-style-type: none;
    color: #ff6060;
    background-color: #f6f6f6;
    margin-top: -22px; 
    z-index: -1;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    padding: 30px 20px 20px 20px;
  }

  .apropos_page .location_collapses_content {
    width: 100%;
  }

.conteneur_apropos_global {
    width: 100%;
    display: flex;
    justify-content: center;
}
.conteneur_apropos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

/*Version mobile*/
@media screen and (max-width: 767px) {

    .conteneur_title_et_proprietaire {
        flex-direction: column;
        justify-content: none;
        gap: 16px;
    }

    .conteneur_proprietaire_etoiles {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .location_etoiles {
        margin-top: 25px;
    }

    .conteneur_location_collapses {
        flex-direction: column;
    }

    .location_collapses_content {
        width: 100%;
    }

    .conteneur_apropos {
        width: 100%;
    }
}