.Nav-conteneur {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

.kasa-logo {
    width: 11rem; 
}

.conteneur-link {
    list-style: none;
    display: flex;
    align-items: center;
}

.conteneur-link a {
    padding: .2rem .7rem;
    text-decoration: none;
    color: #ff5656;
    font-size: 20px; 
}
.conteneur-link a:hover {
    text-decoration : underline;
}
.conteneur-link a.active {
    text-decoration: underline;
}

.conteneur-link a:visited {
    color: #ff5656
}
